* {
  margin:0; padding:0;
  font-family: 'Noto Sans JP', sans-serif;
}
ul {
  list-style:none;
}
.header__flex {
  display: flex;
  height:60px;
  align-items: center;
}
.header__flex nav {
  margin-left: auto;
}
.header__flex ul {
  display: flex;
}
.header__flex ul li {
  margin-left: 10px;
}
a {
  text-decoration: none;
}
header {
  height: 60px;
  width: 100%;
  padding: 5px 0;
  background: linear-gradient(-135deg, #46a5ff, #66ffcb);
  color: white;
  position:fixed;
}
header .headline{
    line-height: 60px;
    font-size: 30px;
    margin-left: 100px;
}
.nav-list {
    line-height: 100px;
    float: left;
    margin-left: 30px;
    list-style: none;
}
.nav-list-item {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}
.tytle {
  float: left;
  text-align: center;
  color: #fffff;
  width: 100%;
  background-color: #494949b8;
  height: 50px;
  padding: 5px 0;
  font-size: 150%;
  line-height: 50px;
}
 h2 img
{
	vertical-align: middle;
}
 a
{
	color: white;
}
.bg {
  background: linear-gradient(rgba(255, 255, 255, 0.8),  rgba(255, 255, 255, 0.4)),  url("logo.png");
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}